<a href="https://colab.research.google.com/github/Ranjani94/Affinity_solutions/blob/master/Affinity_solutions_SK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Mounting drive - to access files that are uploaded into My drive

In [0]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
root_dir = "/content/gdrive/My Drive/"
base_dir = root_dir + 'Affinity_solution/'

Mounted at /content/gdrive

###Pandas stands for Python Data Analysis Library and it is an open source library used to manipulate and analyze data

In [0]:
import pandas as pd

###Reading xlsx file and converting it to CSV file format.

In [0]:
file_path = base_dir + 'Exercise.xlsx'
dfs = pd.read_excel(file_path, sheet_name='Sheet1')
dfs.to_csv('Exercise.csv', index=False)

###Reading CSV file using pandas library.

In [0]:
df = pd.read_csv('Exercise.csv')

###Analzing data

In [0]:
df

                             Input
0           paypal * US - Doordash
1          payal * US NY - Doodash
2        sq* NJ SEAMLSS 2017777777
3                      SEAMLSS MCd
4               McDOnalds UBEREATS
5                   Giftcard CA US
6      Hotels.com Expedia Sheraton
7                Chipotl Postmates
8            paypal * US - Grubhub
9         payal * US NY - ubereats
10      sq* NJ doordash 5745745745
11                  SEAMLSS Subway
12                wendy's UBEREATS
13                  Giftcard TX US
14  booking.com priceline marriott
15             chickfila Postmates

In [0]:
df['Input'].unique()

array(['paypal * US - Doordash', 'payal * US NY - Doodash',
       'sq* NJ SEAMLSS 2017777777', 'SEAMLSS MCd', 'McDOnalds UBEREATS',
       'Giftcard CA US', 'Hotels.com Expedia Sheraton',
       'Chipotl Postmates', 'paypal * US - Grubhub',
       'payal * US NY - ubereats', 'sq* NJ doordash 5745745745',
       'SEAMLSS Subway', "wendy's UBEREATS", 'Giftcard TX US',
       'booking.com priceline marriott', 'chickfila Postmates'],
      dtype=object)

In [0]:
df.dtypes

Input    object
dtype: object

In [0]:
df.Input.str.split(expand=True).stack().value_counts()

US             6
-              4
*              4
SEAMLSS        3
paypal         2
Giftcard       2
sq*            2
NJ             2
UBEREATS       2
NY             2
Postmates      2
payal          2
McDOnalds      1
wendy's        1
doordash       1
priceline      1
ubereats       1
2017777777     1
marriott       1
Grubhub        1
Sheraton       1
5745745745     1
booking.com    1
TX             1
Expedia        1
Doodash        1
MCd            1
Doordash       1
CA             1
Hotels.com     1
chickfila      1
Chipotl        1
Subway         1
dtype: int64

###Preprocessing - NLTK stands for Natural Language Toolkit - It provides easy-to-use interface to work with human language data and text pre-processing like tokenization, stemming, parsing etc

In [0]:
import re
import nltk
nltk.download('punkt')
def cleaning(raw_text):
    # 1. Remove non-letters/Special Characters and Punctuations
    # text = re.sub("[^a-zA-Z0-9]", " ", raw_text)
    chars = ['*', '-',"'"]
    for i in chars:
      raw_text = raw_text.replace(i,'')

    # 2. Convert to lower case.
    raw_text =  raw_text.lower()
    
    # 3. Tokenize
    raw_text = nltk.word_tokenize(raw_text)
    return raw_text

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

###Creating a column by applying the cleaning function on Input column

In [0]:
df['Clean_Input'] = df['Input'].apply(cleaning)

In [0]:
df

                             Input                         Clean_Input
0           paypal * US - Doordash              [paypal, us, doordash]
1          payal * US NY - Doodash            [payal, us, ny, doodash]
2        sq* NJ SEAMLSS 2017777777       [sq, nj, seamlss, 2017777777]
3                      SEAMLSS MCd                      [seamlss, mcd]
4               McDOnalds UBEREATS               [mcdonalds, ubereats]
5                   Giftcard CA US                  [giftcard, ca, us]
6      Hotels.com Expedia Sheraton     [hotels.com, expedia, sheraton]
7                Chipotl Postmates                [chipotl, postmates]
8            paypal * US - Grubhub               [paypal, us, grubhub]
9         payal * US NY - ubereats           [payal, us, ny, ubereats]
10      sq* NJ doordash 5745745745      [sq, nj, doordash, 5745745745]
11                  SEAMLSS Subway                   [seamlss, subway]
12                wendy's UBEREATS                  [wendys, ubereats]
13                  Giftcard TX US                  [giftcard, tx, us]
14  booking.com priceline marriott  [booking.com, priceline, marriott]
15             chickfila Postmates              [chickfila, postmates]

###us is a package to easily access states in US and I used lookup method to allow matching of states by abbreviation.

In [0]:
!pip install us

Collecting us
  Downloading https://files.pythonhosted.org/packages/88/04/04323aefa1871de30286d3decae7706481c73bd428cf0c08e158bfa259a6/us-2.0.2.tar.gz
Collecting jellyfish==0.6.1
  Downloading https://files.pythonhosted.org/packages/61/3f/60ac86fb43dfbf976768e80674b5538e535f6eca5aa7806cf2fdfd63550f/jellyfish-0.6.1.tar.gz (132kB)
     |████████████████████████████████| 133kB 5.9MB/s
Building wheels for collected packages: us, jellyfish
  Building wheel for us (setup.py) ... done
  Created wheel for us: filename=us-2.0.2-cp36-none-any.whl size=11927 sha256=709f7b49cde446d6df1585afb09db16fb02973605c0951786309e0e5ddab0b70
  Stored in directory: /root/.cache/pip/wheels/e2/16/45/6453383ffa495670f0f6b80a3e697a9771d98cfbaf8b451e73
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.6.1-cp36-cp36m-linux_x86_64.whl size=74750 sha256=ade0cd49dba3b1f36ef58e857ee1d6cb179cc4f9625d1ee3dc6fb0e6bfe66da5
  Stored in directory: /root/.cache/pip/wheels/9c/6f/33/92bb9a4b4562a60ba6a80cedbab8907e48bc7a8b1f369ea0ae
Successfully built us jellyfish
Installing collected packages: jellyfish, us
Successfully installed jellyfish-0.6.1 us-2.0.2

In [0]:
import us as us_country
print(us_country.states.lookup('ca'))

California

###difflib is a library that provides functions to compare sequence

###difflib.get_close_matches() - Returns a list of words that matches good enough given keyword and text

In [0]:
import difflib
import itertools

brand_names = ['paypal','seamless','doordash','mcdonalds','ubereats','postmates','giftcard','priceline','chipotle','grubhub','sheraton','expedia','subway','wendys','booking.com','hotels.com','marriott','chickfila']
def match_with_keyword(text):
  op = difflib.get_close_matches(text,brand_names,cutoff=0.5)
  if op:
    return op[0]
  return text

In [0]:
match_with_keyword('mcd')

'mcdonalds'

###Write a function to identify brands, country, states and phone number

In [0]:
def get_word_tokens(text):
    output = {"brands": [],"state": "", "country": "", "ph no": ""}
    d = []
    #Checks if a given token is a digit to identify phone number
    #Checks if the length of token is greater than 2 to identify brands
    #Checks if the token equals 'us' to identify country
    #Checks if the token passed is a state
    for token in text:
        if token.isdigit() and len(token) == 10 :   
          output["ph no"] = token
        elif len(token) > 2:  
          d.append(match_with_keyword(token))
        elif len(token) == 2 and token == 'us' and not output["country"]: 
          output["country"] = token
        elif len(token) == 2 and us_country.states.lookup(token) and not output["state"]:  
          output["state"] = token
        else:
          d.append(match_with_keyword(token))
    output["brands"].append({str(idx+1) : x for idx,x in enumerate(d)})

    # print('Output: ', output)
    return output
get_word_tokens(['payal','5745745745','sq','ca','mcd','ca','us','us'])

{'brands': [{'1': 'paypal',
   '2': 'sq',
   '3': 'mcdonalds',
   '4': 'ca',
   '5': 'us'}],
 'country': 'us',
 'ph no': '5745745745',
 'state': 'ca'}

###Creating an output column

In [0]:
df['Output'] = df['Clean_Input'].apply(get_word_tokens)

In [0]:
df

                             Input  ...                                             Output
0           paypal * US - Doordash  ...  {'brands': [{'1': 'paypal', '2': 'doordash'}],...
1          payal * US NY - Doodash  ...  {'brands': [{'1': 'paypal', '2': 'doordash'}],...
2        sq* NJ SEAMLSS 2017777777  ...  {'brands': [{'1': 'sq', '2': 'seamless'}], 'st...
3                      SEAMLSS MCd  ...  {'brands': [{'1': 'seamless', '2': 'mcdonalds'...
4               McDOnalds UBEREATS  ...  {'brands': [{'1': 'mcdonalds', '2': 'ubereats'...
5                   Giftcard CA US  ...  {'brands': [{'1': 'giftcard'}], 'state': 'ca',...
6      Hotels.com Expedia Sheraton  ...  {'brands': [{'1': 'hotels.com', '2': 'expedia'...
7                Chipotl Postmates  ...  {'brands': [{'1': 'chipotle', '2': 'postmates'...
8            paypal * US - Grubhub  ...  {'brands': [{'1': 'paypal', '2': 'grubhub'}], ...
9         payal * US NY - ubereats  ...  {'brands': [{'1': 'paypal', '2': 'ubereats'}],...
10      sq* NJ doordash 5745745745  ...  {'brands': [{'1': 'sq', '2': 'doordash'}], 'st...
11                  SEAMLSS Subway  ...  {'brands': [{'1': 'seamless', '2': 'subway'}],...
12                wendy's UBEREATS  ...  {'brands': [{'1': 'wendys', '2': 'ubereats'}],...
13                  Giftcard TX US  ...  {'brands': [{'1': 'giftcard'}], 'state': 'tx',...
14  booking.com priceline marriott  ...  {'brands': [{'1': 'booking.com', '2': 'priceli...
15             chickfila Postmates  ...  {'brands': [{'1': 'chickfila', '2': 'postmates...

[16 rows x 3 columns]

In [0]:
df['Output']

0     {'brands': [{'1': 'paypal', '2': 'doordash'}],...
1     {'brands': [{'1': 'paypal', '2': 'doordash'}],...
2     {'brands': [{'1': 'sq', '2': 'seamless'}], 'st...
3     {'brands': [{'1': 'seamless', '2': 'mcdonalds'...
4     {'brands': [{'1': 'mcdonalds', '2': 'ubereats'...
5     {'brands': [{'1': 'giftcard'}], 'state': 'ca',...
6     {'brands': [{'1': 'hotels.com', '2': 'expedia'...
7     {'brands': [{'1': 'chipotle', '2': 'postmates'...
8     {'brands': [{'1': 'paypal', '2': 'grubhub'}], ...
9     {'brands': [{'1': 'paypal', '2': 'ubereats'}],...
10    {'brands': [{'1': 'sq', '2': 'doordash'}], 'st...
11    {'brands': [{'1': 'seamless', '2': 'subway'}],...
12    {'brands': [{'1': 'wendys', '2': 'ubereats'}],...
13    {'brands': [{'1': 'giftcard'}], 'state': 'tx',...
14    {'brands': [{'1': 'booking.com', '2': 'priceli...
15    {'brands': [{'1': 'chickfila', '2': 'postmates...
Name: Output, dtype: object

In [0]:
df = df.drop(columns =['Clean_Input'])

In [0]:
df

                             Input                                             Output
0           paypal * US - Doordash  {'brands': [{'1': 'paypal', '2': 'doordash'}],...
1          payal * US NY - Doodash  {'brands': [{'1': 'paypal', '2': 'doordash'}],...
2        sq* NJ SEAMLSS 2017777777  {'brands': [{'1': 'sq', '2': 'seamless'}], 'st...
3                      SEAMLSS MCd  {'brands': [{'1': 'seamless', '2': 'mcdonalds'...
4               McDOnalds UBEREATS  {'brands': [{'1': 'mcdonalds', '2': 'ubereats'...
5                   Giftcard CA US  {'brands': [{'1': 'giftcard'}], 'state': 'ca',...
6      Hotels.com Expedia Sheraton  {'brands': [{'1': 'hotels.com', '2': 'expedia'...
7                Chipotl Postmates  {'brands': [{'1': 'chipotle', '2': 'postmates'...
8            paypal * US - Grubhub  {'brands': [{'1': 'paypal', '2': 'grubhub'}], ...
9         payal * US NY - ubereats  {'brands': [{'1': 'paypal', '2': 'ubereats'}],...
10      sq* NJ doordash 5745745745  {'brands': [{'1': 'sq', '2': 'doordash'}], 'st...
11                  SEAMLSS Subway  {'brands': [{'1': 'seamless', '2': 'subway'}],...
12                wendy's UBEREATS  {'brands': [{'1': 'wendys', '2': 'ubereats'}],...
13                  Giftcard TX US  {'brands': [{'1': 'giftcard'}], 'state': 'tx',...
14  booking.com priceline marriott  {'brands': [{'1': 'booking.com', '2': 'priceli...
15             chickfila Postmates  {'brands': [{'1': 'chickfila', '2': 'postmates...

###Write output file to a CSV file

In [0]:
df.to_csv('/content/gdrive/My Drive/Affinity_solution/Affinity_result.csv', index=False)

###Testing output columns

In [0]:
file_path = base_dir + 'Exercise.xlsx'
dfs = pd.read_excel(file_path, sheet_name='Transaction Description')

In [0]:
dfs

                             Input                                             Output
0           paypal * US - Doordash  {"brands":[{"1":"paypal", "2":"doordash"}], "s...
1          payal * US NY - Doodash  {"brands":[{"1":"paypal", "2":"doordash"}], "s...
2        sq* NJ SEAMLSS 2017777777  {"brands":[{"1":"sq", "2":"seamless"}], "state...
3                      SEAMLSS MCd  {"brands":[{"1":"seamless", "2":"mcdonalds"}],...
4               McDOnalds UBEREATS  {"brands":[{"1":"mcdonalds", "2":"ubereats"}],...
5                   Giftcard CA US  {"brands":[{"1":"giftcard"}], "state":"ca", "c...
6      Hotels.com Expedia Sheraton  {"brands":[{"1":"hotels.com", "2":"expedia", "...
7                Chipotl Postmates  {"brands":[{"1":"chipotle", "2":"postmates"}],...
8            paypal * US - Grubhub  {"brands":[{"1":"paypal", "2":"grubhub"}], "st...
9         payal * US NY - ubereats  {"brands":[{"1":"paypal", "2":"ubereats"}], "s...
10      sq* NJ doordash 5745745745  {"brands":[{"1":"sq", "2":"doordash"}], "state...
11                  SEAMLSS Subway  {"brands":[{"1":"seamless", "2":"subway"}], "s...
12                wendy's UBEREATS  {"brands":[{"1":"wendys", "2":"ubereats"}], "s...
13                  Giftcard TX US  {"brands":[{"1":"giftcard"}], "state":"tx", "c...
14  booking.com priceline marriott  {"brands":[{"1":"booking.com", "2":"priceline"...
15             chickfila Postmates  {"brands":[{"1":"chickfila", "2":"postmates"}]...

In [0]:
df

                             Input                                             Output
0           paypal * US - Doordash  {'brands': [{'1': 'paypal', '2': 'doordash'}],...
1          payal * US NY - Doodash  {'brands': [{'1': 'paypal', '2': 'doordash'}],...
2        sq* NJ SEAMLSS 2017777777  {'brands': [{'1': 'sq', '2': 'seamless'}], 'st...
3                      SEAMLSS MCd  {'brands': [{'1': 'seamless', '2': 'mcdonalds'...
4               McDOnalds UBEREATS  {'brands': [{'1': 'mcdonalds', '2': 'ubereats'...
5                   Giftcard CA US  {'brands': [{'1': 'giftcard'}], 'state': 'ca',...
6      Hotels.com Expedia Sheraton  {'brands': [{'1': 'hotels.com', '2': 'expedia'...
7                Chipotl Postmates  {'brands': [{'1': 'chipotle', '2': 'postmates'...
8            paypal * US - Grubhub  {'brands': [{'1': 'paypal', '2': 'grubhub'}], ...
9         payal * US NY - ubereats  {'brands': [{'1': 'paypal', '2': 'ubereats'}],...
10      sq* NJ doordash 5745745745  {'brands': [{'1': 'sq', '2': 'doordash'}], 'st...
11                  SEAMLSS Subway  {'brands': [{'1': 'seamless', '2': 'subway'}],...
12                wendy's UBEREATS  {'brands': [{'1': 'wendys', '2': 'ubereats'}],...
13                  Giftcard TX US  {'brands': [{'1': 'giftcard'}], 'state': 'tx',...
14  booking.com priceline marriott  {'brands': [{'1': 'booking.com', '2': 'priceli...
15             chickfila Postmates  {'brands': [{'1': 'chickfila', '2': 'postmates...

###Displays a error message when there is mismatch between two output columns

In [0]:
import json
lth = len(df['Output'])
for row in range(lth) :
  exp = json.loads(dfs['Output'][row])
  for item in ['state','ph no','country','brands'] :
    if not (df['Output'][row][item] == exp[item]) :
      print("Row ",row," is not equal for field", item)