<a href="https://colab.research.google.com/github/Ranjani94/Affinity_solutions/blob/master/Affinity_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [201]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
root_dir = "/content/gdrive/My Drive/"

Mounted at /content/gdrive

In [0]:
import pandas as pd

In [0]:
file_path = root_dir + 'Exercise.xlsx'
dfs = pd.read_excel(file_path, sheet_name='Sheet1')
dfs.to_csv('Exercise.csv', index=False)

In [0]:
df = pd.read_csv('Exercise.csv')

In [205]:
df

                             Input
0           paypal * US - Doordash
1          payal * US NY - Doodash
2        sq* NJ SEAMLSS 2017777777
3                      SEAMLSS MCd
4               McDOnalds UBEREATS
5                   Giftcard CA US
6      Hotels.com Expedia Sheraton
7                Chipotl Postmates
8            paypal * US - Grubhub
9         payal * US NY - ubereats
10      sq* NJ doordash 5745745745
11                  SEAMLSS Subway
12                wendy's UBEREATS
13                  Giftcard TX US
14  booking.com priceline marriott
15             chickfila Postmates

In [206]:
import re
import nltk
nltk.download('punkt')
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
nltk.download('wordnet')

def cleaning(raw_text):
    import nltk
    
    # 1. Remove non-letters/Special Characters and Punctuations
    # text = re.sub("[^a-zA-Z0-9]", " ", raw_text)
    chars = ['*', '-',"'"]
    for i in chars:
      raw_text = raw_text.replace(i,'')
      # print(raw_text)
      

    
    # 2. Convert to lower case.
    text =  raw_text.lower()

    # 3. Remove Whitespace.
    text = text.rstrip()
    text = text.lstrip()
    
    # 4. Tokenize.
    text = nltk.word_tokenize(text)

  
    return " ".join(text)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [0]:
df['Clean_Input'] = df['Input'].apply(cleaning)

In [208]:
df

                             Input                     Clean_Input
0           paypal * US - Doordash              paypal us doordash
1          payal * US NY - Doodash             payal us ny doodash
2        sq* NJ SEAMLSS 2017777777        sq nj seamlss 2017777777
3                      SEAMLSS MCd                     seamlss mcd
4               McDOnalds UBEREATS              mcdonalds ubereats
5                   Giftcard CA US                  giftcard ca us
6      Hotels.com Expedia Sheraton     hotels.com expedia sheraton
7                Chipotl Postmates               chipotl postmates
8            paypal * US - Grubhub               paypal us grubhub
9         payal * US NY - ubereats            payal us ny ubereats
10      sq* NJ doordash 5745745745       sq nj doordash 5745745745
11                  SEAMLSS Subway                  seamlss subway
12                wendy's UBEREATS                 wendys ubereats
13                  Giftcard TX US                  giftcard tx us
14  booking.com priceline marriott  booking.com priceline marriott
15             chickfila Postmates             chickfila postmates

In [0]:

# Import Natural Language Toolkit
import nltk
def tokenize(text):
# Instead of using just split() method, used word_tokenize in nltk library.
  # text = 'Hi How are you'
  news_words = nltk.word_tokenize(text)
  return news_words

In [0]:
df['Tokenize_Input'] = df['Clean_Input'].apply(tokenize)

In [211]:
df

                             Input  ...                      Tokenize_Input
0           paypal * US - Doordash  ...              [paypal, us, doordash]
1          payal * US NY - Doodash  ...            [payal, us, ny, doodash]
2        sq* NJ SEAMLSS 2017777777  ...       [sq, nj, seamlss, 2017777777]
3                      SEAMLSS MCd  ...                      [seamlss, mcd]
4               McDOnalds UBEREATS  ...               [mcdonalds, ubereats]
5                   Giftcard CA US  ...                  [giftcard, ca, us]
6      Hotels.com Expedia Sheraton  ...     [hotels.com, expedia, sheraton]
7                Chipotl Postmates  ...                [chipotl, postmates]
8            paypal * US - Grubhub  ...               [paypal, us, grubhub]
9         payal * US NY - ubereats  ...           [payal, us, ny, ubereats]
10      sq* NJ doordash 5745745745  ...      [sq, nj, doordash, 5745745745]
11                  SEAMLSS Subway  ...                   [seamlss, subway]
12                wendy's UBEREATS  ...                  [wendys, ubereats]
13                  Giftcard TX US  ...                  [giftcard, tx, us]
14  booking.com priceline marriott  ...  [booking.com, priceline, marriott]
15             chickfila Postmates  ...              [chickfila, postmates]

[16 rows x 3 columns]

In [212]:
!pip install us

Requirement already satisfied: us in /usr/local/lib/python3.6/dist-packages (2.0.2)
Requirement already satisfied: jellyfish==0.6.1 in /usr/local/lib/python3.6/dist-packages (from us) (0.6.1)

In [213]:
import us
print(us.states.lookup('sq'))

None

In [0]:
import difflib
import itertools

kw = ['paypal','seamless','doordash','mcdonalds','ubereats','postmates','giftcard','priceline','chipotle','grubhub','sheraton','expedia','subway','wendys','booking.com','hotels.com','marriott','chickfila']
s = ['papal', 'us', 'dordash','chipkila']
def match_with_keyword(text):
  op = difflib.get_close_matches(text,kw,cutoff=0.5)
  # print(op)
  if op:
    # for i in range(0, len(op)):
    return op[0]
  return text

In [232]:
match_with_keyword('us')

'us'

In [235]:
def get_word_tokens(text):
    output = {"brands": [],"state": "", "country": "", "ph no": ""} #{'brands': [{1: 'the', 2:'country', 3:'sq'}], 'state': 'ca', 'country': 'us', 'ph no': '6749458'}
    i = 1
    d = {}
    for token in text:
        # print(token)
        if token.isdigit():
          output["ph no"] = token
        elif len(token) > 2:
          d[i] = match_with_keyword(token)
          i += 1
        elif len(token) == 2 and token == 'us':
          output["country"] = token
        elif len(token) ==2 and us.states.lookup(token):
          output["state"] = token
        else:
          d[i] = match_with_keyword(token)
          i+=1
    output["brands"].append(d)

    # print('Output: ', output)
    return output
get_word_tokens(['the','us','payal','6749458','sq','ca','mcd'])

{'brands': [{1: 'the', 2: 'paypal', 3: 'sq', 4: 'mcdonalds'}],
 'country': 'us',
 'ph no': '6749458',
 'state': 'ca'}

In [0]:
df['Output'] = df['Tokenize_Input'].apply(get_word_tokens)

In [238]:
df

                             Input  ...                                             Output
0           paypal * US - Doordash  ...  {'brands': [{1: 'paypal', 2: 'doordash'}], 'st...
1          payal * US NY - Doodash  ...  {'brands': [{1: 'paypal', 2: 'doordash'}], 'st...
2        sq* NJ SEAMLSS 2017777777  ...  {'brands': [{1: 'sq', 2: 'seamless'}], 'state'...
3                      SEAMLSS MCd  ...  {'brands': [{1: 'seamless', 2: 'mcdonalds'}], ...
4               McDOnalds UBEREATS  ...  {'brands': [{1: 'mcdonalds', 2: 'ubereats'}], ...
5                   Giftcard CA US  ...  {'brands': [{1: 'giftcard'}], 'state': 'ca', '...
6      Hotels.com Expedia Sheraton  ...  {'brands': [{1: 'hotels.com', 2: 'expedia', 3:...
7                Chipotl Postmates  ...  {'brands': [{1: 'chipotle', 2: 'postmates'}], ...
8            paypal * US - Grubhub  ...  {'brands': [{1: 'paypal', 2: 'grubhub'}], 'sta...
9         payal * US NY - ubereats  ...  {'brands': [{1: 'paypal', 2: 'ubereats'}], 'st...
10      sq* NJ doordash 5745745745  ...  {'brands': [{1: 'sq', 2: 'doordash'}], 'state'...
11                  SEAMLSS Subway  ...  {'brands': [{1: 'seamless', 2: 'subway'}], 'st...
12                wendy's UBEREATS  ...  {'brands': [{1: 'wendys', 2: 'ubereats'}], 'st...
13                  Giftcard TX US  ...  {'brands': [{1: 'giftcard'}], 'state': 'tx', '...
14  booking.com priceline marriott  ...  {'brands': [{1: 'booking.com', 2: 'priceline',...
15             chickfila Postmates  ...  {'brands': [{1: 'chickfila', 2: 'postmates'}],...

[16 rows x 4 columns]

In [239]:
df['Output']

0     {'brands': [{1: 'paypal', 2: 'doordash'}], 'st...
1     {'brands': [{1: 'paypal', 2: 'doordash'}], 'st...
2     {'brands': [{1: 'sq', 2: 'seamless'}], 'state'...
3     {'brands': [{1: 'seamless', 2: 'mcdonalds'}], ...
4     {'brands': [{1: 'mcdonalds', 2: 'ubereats'}], ...
5     {'brands': [{1: 'giftcard'}], 'state': 'ca', '...
6     {'brands': [{1: 'hotels.com', 2: 'expedia', 3:...
7     {'brands': [{1: 'chipotle', 2: 'postmates'}], ...
8     {'brands': [{1: 'paypal', 2: 'grubhub'}], 'sta...
9     {'brands': [{1: 'paypal', 2: 'ubereats'}], 'st...
10    {'brands': [{1: 'sq', 2: 'doordash'}], 'state'...
11    {'brands': [{1: 'seamless', 2: 'subway'}], 'st...
12    {'brands': [{1: 'wendys', 2: 'ubereats'}], 'st...
13    {'brands': [{1: 'giftcard'}], 'state': 'tx', '...
14    {'brands': [{1: 'booking.com', 2: 'priceline',...
15    {'brands': [{1: 'chickfila', 2: 'postmates'}],...
Name: Output, dtype: object